.DirectoryPicker {
    width: 100%;
    // margin: 5px;
    // margin-left: 50px;
    padding-left: 50px;
    position: relative;
    text-align: left;

    .Label {
        margin-left: 2px;
        color: #4CAAEF;
        text-align: left;
        font-size: 12px;
    }

    input {
        width: 200px;
        height: 25px;
        background-color: #1D1D1D;
        border: none;
        border-bottom: #4CAAEF solid 3px;
        outline: none;
        color: white;
        font-size: 15px;
    }

    .Dropdown {
        position: absolute;
        left: 260px;
        width: 200px;
        height: 100px;
        background-color: none;
        overflow: auto;
        overflow-x: hidden;
        // overflow-y: scroll;
        z-index: 1;
        
        .item {
            border: none;
            margin: 1px;
            padding-left: 5px;
            background-color: #1D1D1D;
            height: 28px;
            width: 100%;
            color: white;
            font-size: 13px;
            display: flex;
            align-items: center;
        }

        .item:hover {
            background-color: #141414;
        }
    }
}