@import "../../styles/vars.scss";

.Directories {
    width: 360px;
    min-height: 200px;
    background-color: $background;
    border: #1D1D1D 2px solid;

    &_List {
        
    }

    &_NewDirectory {
        height: 25px;
        width: calc(100% - 10px);
        margin-left: 5px;
        border: 1px black solid;
        background-color: #1D1D1D;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        
        &-Label {
            position: absolute;
            width: 100%;
            color: white;
        }

        &-Icon {
            // float: right;
            position: absolute;
            right: 0px;
            top: 3px;
            width: 19px;
            // height: 30px;

            img {
                width: 19px;
                height: 19px;
            }
        }
    }

    &_ListItem {
        background-color: #1D1D1D;
        margin-left: 5px;
        width: calc(100% - 10px);
        min-height: 24px;
        margin-top: 4px;
        position: relative;
    }

    &_ListItemNewNoteIcon {
        position: absolute;
        top: 3px;
        right: 1px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    &_ListItemLabel {
        position: absolute;
        left: 40px;
        color: white;
        font-size: 16px;
    }

    &_ListItemIcon {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 10px;
        top: 2px;
        border: solid 2px #4CAAEF;
    }

    &_ListItemCompleteNotes {
        position: absolute;
        right: 60px;
        color: #9D9D9D;
        font-size: 14px;
    }
    
    &_ListItemCompleteIcon {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 30px;
        top: 2px;

        img {
            // width: 30px;
            // height: 30px;
            width: 100%;
            height: 100%;
        }
    }

    &_NotesList {
        // height: 100px;
        // width: 100%;
        background-color: #282828;
        // padding-top: 25px;
        margin: 0px 25px 0px 25px;

        &-Item {
            margin-top: 5px;
            height: 28px;
            // width: 90%;
            position: relative;
            padding-top: 3px;
            border-bottom: 1px black solid;

            &-Active {
                border-bottom: #4CAAEF 2px solid;
            }

            &-Label {
                position: absolute;
                color: white;
                left: 40px;
                font-size: 15px;
            }

            &-Icon {
                width: 20px;
                height: 20px;
                position: absolute;
                left: 10px;
                top: 2px;
                border: solid 2px #4CAAEF;
            }

            &-Time {
                position: absolute;
                color: #6D6D6D;
                right: 40px;
                font-size: 13px;
            }

            &-CompleteIcon {
                position: absolute;
                right: 10px;
                width: 20px;
                height: 20px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .Directories {
        width: 100%;
    }
}