@import "../../styles/vars.scss";

.NoteEditor {
    min-height: 100%;
    border: 2px #1D1D1D solid;
    background: $background;
    
    &_Title {
        text-align: center;
        margin: 26px;
        margin-left: 20px;
        color: #ffffff;
    }

    &_NoteEdit {
        width: calc(100% - 20px);
        margin-left: 10px;
        height: 300px;
        // display: list-item;
        // padding: 50px;
        // background: gray;
        outline: none;
        overflow: auto;

        div {
            transition: all 1s;
            color: #fff;
            border-bottom: 1px black solid;
            // margin-bottom: 13px;
            padding-top: 5px;
            margin-bottom: 3px;
            height: 30px;
        }

        .item {
            border-bottom: 1px #929292 solid;
            // background-color: white;
        }
    }

    &_CompleteTime {
        max-width: 350px;
        display: none;
        margin: 5px;
        margin-left: 50px;
        text-align: left;

        .Label {
            margin-left: 2px;
            color: #4CAAEF;
            text-align: left;
            font-size: 12px;
        }

        input {
            width: 200px;
            height: 25px;
            background-color: #1D1D1D;
            border: none;
            border-bottom: #4CAAEF solid 3px;
            outline: none;
            color: white;
            font-size: 15px;
        }
    }

    &_SaveButton {
        transition: .15s all;
        margin: 5px;
        margin-left: 50px;
        width: 212px;
        height: 39px;
        background-color: #4CAAEF;
        border-bottom: solid #0062BD 2px;
        color: white;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &_SaveButton:hover {
        background-color: #0062BD;
        border-bottom: solid #4CAAEF 4px;
    }

    &_StylingButtons {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        &-sm {
            color: white;
            width: 30px;
            height: 30px;
            background-color: #1D1D1D;
            margin-right: 12px;
            padding-top: 2px;
        }
    }
}

.none {
    display: none;
}

@media screen and (max-width:900px) {
    .NoteEditor {
        width: 100%;
        height: 100%;

        &_NoteEdit {
            /*height: calc(100% - 300px);*/
        }
    }
}

@media screen and (min-width: 900px) {
    .NoteEditor {
        width: 600px;
    }
}
